/* Mixins -------------------- */
@import "https://fonts.googleapis.com/css?family=Noto+Sans+SC|Unlock|Roboto|Oswald|Fahkwang|Abril+Fatface|Montserrat|Fjalla+One|Dancing+Script";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
html {
  scroll-behavior: smooth;
  height: 100%; }

body {
  margin: 0; }

nav {
  overflow: hidden;
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  background-color: beige;
  opacity: 0.4; }

ul {
  float: right;
  font-size: 0.9375rem;
  color: beige;
  text-align: center;
  text-decoration: none;
  margin: 0.625rem;
  letter-spacing: 0.0625rem; }

li {
  float: left;
  list-style: none;
  margin-right: 3.125rem;
  padding-top: 0.625rem; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 9.375rem;
  float: left;
  padding-left: 0.625rem;
  margin-left: 16.875rem;
  margin-top: 0.625rem; }

li a,
.dropbtn {
  text-decoration: none;
  display: inline-block; }

li.dropdown {
  display: inline-block;
  width: 1.875rem;
  margin-right: 110px; }

h3 {
  font-family: 'Roboto';
  border-top: 5px solid;
  border-bottom: 1px solid;
  font-size: 20px;
  margin: 0 30px;
  padding: 30px 30px; }

h2 {
  text-align: center;
  color: #181717;
  font-family: 'Fjalla One';
  font-size: 2.5rem;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  padding-top: 5rem; }

img {
  margin-left: 3.125rem;
  width: 31.25rem;
  height: 17.5rem;
  margin-bottom: 1.25rem;
  border-radius: 0.1875rem; }

a {
  font-family: 'Roboto';
  text-decoration: none;
  color: black;
  letter-spacing: 0.0625rem; }

a.text {
  font-family: "Roboto";
  color: black;
  padding: 0.75rem 0;
  text-decoration: none;
  display: block;
  padding-left: 0.9375rem;
  padding-bottom: 0; }
a.navitem {
  color: black;
  font-weight: bold;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 0.125rem; }
a.activity-link:hover {
  background-color: #ceff2f;
  border: 0.125rem solid #ceff2f;
  color: black;
  font-weight: bold;
  border-radius: 5px; }
a.activity-link {
  border: 0.125rem black solid;
  padding: 0.625rem; }

footer {
  padding-top: 1.875rem;
  margin-top: 9.375rem;
  height: 9.375rem;
  background-color: #1d1a1a;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: 'Roboto';
  letter-spacing: 6px;
  color: beige;
  font-weight: bold; }

i:nth-child(2),
i:nth-child(3),
i:nth-child(4) {
  margin-left: 0.9375rem;
  padding-top: 1.875rem; }

form {
  opacity: 0.8;
  padding-top: 2rem;
  margin: 0 26.25rem;
  border-radius: 0.625rem; }

input {
  height: 2.5rem;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  padding-left: 1.25rem;
  margin-bottom: 0.9375rem;
  color: black;
  background-color: beige;
  opacity: 0.8;
  width: 25rem; }

select {
  height: 2.5rem;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  padding-left: 1.25rem;
  margin-bottom: 0.9375rem;
  color: black;
  background-color: beige;
  opacity: 0.8;
  width: 26.25rem;
  background-color: beige;
  opacity: 0.8; }

textarea {
  width: 23.75rem;
  border-radius: 0.6875rem;
  border: none;
  outline: none;
  padding: 1.25rem 1.25rem 0 1.25rem;
  background-color: beige;
  opacity: 0.8; }

button {
  background-color: beige; }

/* Web Fonts -------------------- */
.dropdown-content {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 640px;
  width: 8.125rem;
  text-align: center;
  padding-right: 1.125rem; }

.dropdown:hover .dropdown-content {
  display: block;
  background-color: beige;
  opacity: 0.9; }

.dropdown-content a {
  text-decoration: none;
  display: block; }

.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6 {
  margin: 1.25rem 6.25rem;
  background-color: beige;
  padding: 30px 0; }

.activity-pic2 {
  margin-left: 1.875rem; }

.activity-title {
  text-align: center;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 1.0625rem;
  font-weight: bold;
  letter-spacing: 0.125rem; }

.activity-desc {
  padding-left: 3.125rem;
  margin-right: 1.25rem;
  font-family: 'Roboto';
  letter-spacing: 0.0625rem; }

.activity-desc2 {
  padding-left: 1.875rem;
  margin-right: 2.8125rem;
  font-family: 'Roboto';
  letter-spacing: 0.0625rem; }

.activity-link {
  font-family: 'Roboto';
  text-align: center;
  margin-top: 1.875rem;
  text-transform: uppercase; }

.main-header {
  background-image: url(../images/adventure-alone-backlit-746386.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.125rem;
  text-align: center;
  margin: -3.75rem 0 5rem 0; }

.main-heading {
  text-align: center;
  font-size: 5.625rem;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  font-weight: normal;
  line-height: 1.3;
  margin: 0.75rem 0 0;
  color: beige;
  opacity: 0.8;
  text-shadow: 0.125rem 0.125rem black;
  letter-spacing: 0.5rem; }
.main-title {
  font-family: 'Fjalla One';
  text-transform: uppercase;
  color: beige;
  text-shadow: 0.125rem 0.125rem black;
  font-weight: bold;
  font-size: 1.875rem;
  letter-spacing: 2px;
  border-bottom: 0.125rem solid;
  padding-bottom: 0.625rem; }

.secondary-header {
  margin-top: 12.5rem; }

.connect {
  border-bottom: 0.0625rem solid;
  padding-bottom: 0.75rem;
  margin-bottom: 1.875rem; }

.icons {
  font-size: 2.25rem; }

.copyright {
  font-size: 0.625rem;
  margin-top: 0.3125rem;
  font-weight: normal; }

.navtop {
  padding-top: 0; }

.container {
  background-image: url(../images/overnight-hiking-trails-oystercatcher-trail.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  opacity: 0.8; }

#contact {
  margin-top: 0;
  margin-bottom: 1.25rem;
  padding-top: 3.125rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fjalla One';
  color: #272525;
  letter-spacing: 0.3125rem; }

.submit {
  color: black;
  border-radius: 0.625rem;
  width: 7.5rem;
  height: 2.5rem;
  border: none;
  margin: 1.25rem 0 1.875rem 0;
  font-size: 0.9375rem;
  font-weight: bold;
  outline: none; }

.submit:hover {
  opacity: 0,9;
  width: 8.75rem;
  transition: all .6s ease-in-out; }

input::placeholder,
textarea::placeholder {
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

.foothead {
  margin-top: 0; }

/* Media Queries -------------------- */
@media (min-width: 2560px) {
  input {
    height: 50px;
    width: 500px;
    margin-bottom: 20px;
    font-size: 15px; }

  select {
    height: 50px;
    width: 520px;
    font-size: 15px;
    margin-bottom: 20px; }

  textarea {
    width: 485px;
    height: 300px;
    margin-top: 0;
    font-size: 15px; }

  .submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none; }

  .container {
    height: 1100px;
    opacity: 0.6; }

  #contact {
    font-size: 48px;
    padding: 50px 0 30px 0;
    letter-spacing: 7px; }

  .form {
    padding: 60px 0 50px;
    margin-left: 800px;
    margin-right: 800px; }

  .submit:hover {
    background-color: pink;
    width: 250px;
    transition: all .6s ease-in-out; } }
@media (max-width: 1024px) {
  input {
    height: 40px;
    width: 480px;
    margin-bottom: 20px;
    font-size: 15px; }

  select {
    height: 40px;
    width: 500px;
    font-size: 15px;
    margin-bottom: 20px; }

  textarea {
    width: 460px;
    height: 300px;
    margin-top: 0;
    font-size: 15px; }

  .submit {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none; }

  .container {
    height: 1100px;
    opacity: 0.6; }

  #contact {
    font-size: 38px;
    padding: 50px 0 30px 0;
    letter-spacing: 7px; }

  .form {
    padding: 60px 0 50px;
    margin-left: 200px;
    margin-right: 200px; }

  .submit:hover {
    background-color: pink;
    width: 250px;
    transition: all .6s ease-in-out; } }
@media (max-width: 768px) {
  input {
    height: 30px;
    width: 350px; }

  select {
    height: 30px;
    width: 370px; }

  textarea {
    width: 340px;
    height: 250px;
    margin-top: 0;
    font-size: 15px; }

  .submit {
    width: 120px;
    outline: none; }

  .container {
    height: 900px;
    opacity: 0.6; }

  #contact {
    font-size: 30px;
    padding: 30px 0 20px 0;
    letter-spacing: 7px; }

  .form {
    padding: 40px 0;
    margin-left: 130px;
    margin-right: 130px; }

  .submit:hover {
    background-color: pink;
    width: 200px;
    transition: all .6s ease-in-out; } }
@media (max-width: 425px) {
  input {
    height: 30px;
    width: 250px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 8px; }

  select {
    height: 30px;
    width: 270px;
    font-size: 10px;
    font-weight: bold; }

  textarea {
    width: 230px;
    height: 200px;
    font-size: 10px;
    font-weight: bold; }

  .submit {
    width: 120px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none; }

  .container {
    height: 700px;
    opacity: 0.6; }

  #contact {
    font-size: 20px;
    padding: 30px 0 10px 0;
    letter-spacing: 5px; }

  .form {
    padding: 20px 0;
    margin-left: 40px;
    margin-right: 40px; }

  .submit:hover {
    background-color: pink;
    width: 200px;
    transition: all .6s ease-in-out; } }
@media (max-width: 375px) {
  textarea {
    height: 150px; } }
@media (max-width: 320px) {
  input {
    height: 23px;
    width: 200px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 10px; }

  select {
    height: 25px;
    width: 220px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 12px; }

  textarea {
    width: 200px;
    border-radius: 7px;
    height: 170px;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 10px 0 10px; }

  .submit {
    width: 100px;
    height: 30px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 20px;
    outline: none; }

  .container {
    height: 630px;
    opacity: 0.6; }

  #contact {
    font-size: 15px;
    padding: 30px 0 10px 0;
    letter-spacing: 5px; }

  .form {
    padding: 20px 0;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 7px; }

  .submit:hover {
    background-color: pink;
    width: 200px;
    transition: all .6s ease-in-out; } }
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "foot-grid foot-grid2"; }

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "camping camping2"; }

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "canoeing canoeing2"; }

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "climbing climbing2"; }

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "fishing fishing2"; }

.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hiking hiking2"; }

.grid6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hunting hunting2"; }

/*# sourceMappingURL=main.css.map */
