
* {
    Michelle-chie
}
html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    margin: 0;  
}



// Homepage

ul {
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
  }

    li {
        float: left;
        list-style: none;
        width: 100px;
        margin-right: 50px;
        padding-top: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(187, 175, 175, 0.5);
    width: 150px;
    float: left;
    padding-left: 10;
    margin-left: -40px;
    margin-top: -10px;
  }

li a,
.dropbtn {
    text-decoration: none;
    display: inline-block;
}

li.dropdown {
    display: inline-block;
}



// Gallery

// Contact Form

input {
    @include inputs;
    width: 25rem;   
}


select {
    @include inputs;
    width: 26.25rem; 
}


textarea {
    width: 380px;
    border-radius: 1.25rem;
    border: none;
    outline: none;
    padding: 1.25rem 1.25rem 0 1.25rem;  
}


