
html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    margin: 0;  
}

// Homepage

ul {
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
  }

    li {
        float: left;
        list-style: none;
        margin-right: 30px;
        padding-top: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(187, 175, 175, 0.5);
    width: 150px;
    float: left;
    padding-left: 10;
    margin-left: -40px;
    margin-top: -10px;
  }

li a,
.dropbtn {
    text-decoration: none;
    display: inline-block;
}



li.dropdown {
    display: inline-block;
    width: 100px;
    margin-right: 50px;
}

a.text.activities {
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-left: 15px; 
}


a.navitem {
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h1.main-heading {
    color: white;
    opacity: 0.9;
    text-shadow: 2px 2px black;
}

// Grid Section

h2 {
    text-align: center;
}


img {
    margin-left: 70px;
    width: 500px;
    height: 280px;
    margin-bottom: 1.25rem;
    border-radius: 3px;  
}

p.camping {
    margin: 10px 200px;
}




// Gallery

// Contact Form

form {
    opacity: 0.8;
    background-color: mistyrose;
    padding-top: 32px;
    margin: 0 420px;
    border-radius: 10px;
}

input {
    @include inputs;
    width: 25rem;   
}


select {
    @include inputs;
    width: 26.25rem; 
}


textarea {
    width: 380px;
    border-radius: 1.25rem;
    border: none;
    outline: none;
    padding: 1.25rem 1.25rem 0 1.25rem;  
}


