// Web Fonts


// Homepage

// Gallery

// Contact Form

.container {
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
      
}

#contact {
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 50px;
    text-transform: uppercase;
    text-align: center;
    
}



