// Footer grid

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "foot-grid foot-grid2" 
}

// Camping Grid
.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "camping camping2" 
}     

// Canoeing gird
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "canoeing canoeing2" 
} 

// Climbing grid
.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "climbing climbing2" 
}


// // Fishing grid
.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "fishing fishing2" 
}


// // Hiking grid
.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "hiking hiking2"  
} 
    

// // Hunting
.grid6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "hunting hunting2"
} 


