/* Mixins -------------------- */

@mixin inputs {
    height: 40px;
    border-radius: 18px;
    border: none;
    outline: none;
    padding-left: 20px;
    margin-bottom: 15px;
    color: black;
}

@mixin input-hover {
    width: 430px;
}
