/* Mixins -------------------- */

@mixin inputs {
    height: 2.5rem;
    border: 2px solid white;
    background: none;
    padding-left: 1.25rem;
    margin-bottom: 0.9375rem;
    color: white;
    opacity: 0.8;
}

@mixin input-hover {
    width: 26.875rem;
    background-color: beige;
    opacity: 0.8;
}
