/* Media Queries -------------------- */

// Homepage

@media (max-width: 1024px) {

    .main-header {
        margin-bottom: 5rem;
    }

    .main {

        &-heading {
            font-size: 3.75rem;
        }
    
        &-title {
            font-size: 1.5625rem;
        }
    }    
    
    h2 { 
        font-size: 2.1875rem;
        letter-spacing: 0.5rem;
    }

    .camp-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "camping-section camping-section-2"
            
    } 

    .canoe-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "canoeing-section canoeing-section-2" 
    } 

    .climb-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "climbing-section climbing-section-2" 
    }

    .fish-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "fishing-section fishing-section-2" 
    }

    .hike-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "hiking-section hiking-section-2"
    } 

    .hunt-grid {
        grid-gap: 1.25rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "hunting-section hunting-section-2"
    } 

    .read-more-btn {
        margin-top: 0;
        padding-top: 3.125rem;
    }

     
    .camp-grid,
    .canoe-grid,
    .fish-grid,
    .hike-grid, 
    .climb-grid,
    .hunt-grid {
        height: 31.25rem;
    }

    .activity-location {
        height: 2.25rem;
    }

    .activity-description,
    .activity-description-2 {
        height: 5rem;
    }

    .connect-with-us {
        font-size: 0.9375rem !important;
        letter-spacing: 0.3125rem !important;
    }

    .icons {
        font-size: 1.125rem !important;
    }
    
    .copyright {
        font-size: 0.5rem !important;
    }

    footer {
        margin-top: 3.125rem;
    }

            
}
//================================================================================================

@media only screen and(max-width: 768px) {

    .main {
        &-heading {
            font-size: 3rem;
        }
    
        &-title {
            font-size: 1.25rem;
        }
    }    
    
    h3 {
        font-size: 1.125rem;
        line-height: 1.875rem
    }

    .camp-grid,
    .canoe-grid,
    .climb-grid,
    .hike-grid,
    .hunt-grid {
        margin: 1.25rem 1.25rem;
        padding: 1.25rem 1.25rem;
        height: 28.125rem;
    }

    .fish-grid {
        margin: 1.25rem 1.25rem;
        padding: 1.25rem 1.25rem;
        height: 29.375rem;
    }

    h2 {
        margin-top: 3.125rem;
    }

    .activity-location {
        font-size: 0.9375rem;
        height: 2.5rem;
    }

    .activity-description,
    .activity-description-2 {
        font-size: 0.875rem;
        padding-left: 0;
        margin-right: 0;
        height: 5rem;
    }

    .read-more-btn {
        padding-top: 1.875rem;
        font-size: 0.9375rem; 
    }
    
    footer {
        margin-top: 5.625rem;
    }
}

//=============================================================
@media only screen and (max-width: 578px) {
  
    ul {
        padding: 0;
        margin: 0;
        font-size: 0.75rem;
        float: none;
    }

    .main {
        &-heading {
            font-size: 1.875rem;
            margin-top: 2.5rem;
            line-height: 3.125rem;
        }
    
        &-title {
            font-size: 15px;
        }
    }

    h3 {
        font-size: 0.875rem;
        padding: 0.875rem;
    }

    h2 { 
        font-size: 1.6875rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        padding-top: 0;
        margin-top: 3.125rem;
        margin-bottom: 1.25rem;
    }

    .camp-grid,
    .canoe-grid,
    .fish-grid,
    .hike-grid {
        height: 380px;
    }

    .climb-grid,
    .hunt-grid {
        height: 350px;

    }

    .activity-location {
        font-size: 0.9375rem;
        margin-bottom: 0;
        border-bottom: 0.0625rem solid $color-sec;
    }

    .activity-location:after {
        border-bottom: 0.0625rem solid $color-sec;
        width: 3.125rem;
    }

    .activity-description,
    .activity-description-2 {
        margin-top: 1.25rem;
        font-size: 0.8125rem;
        height: 5rem;
    }

    .read-more-btn {
        font-size: 0.8125rem;
        padding-top: 20px;;
    }

    .connect-with-us {
        font-size: 0.9375rem !important;
        letter-spacing: 0.3125rem !important;
    }

  
    footer {
        margin-top: 3.125rem;
    }   

    .copyright {
        font-size: 0.5rem !important;
    }

    .icons {
        font-size: 1.125rem !important;
        margin-bottom: 1.875rem;
    }
}
    
//=============================================================
@media only screen and (max-width: 480px) {

    nav {
        padding-left: 3.75rem;
    }

    ul {
        padding: 0;
        margin: 0;
        font-size: 0.75rem;
        float: none;
    }
    
    li {
        margin-right: 1.25rem;
        padding-top: 0.625rem;
    }

    li.dropdown {
        width: 5.3125rem;
        margin-right: 1.25rem;
    }

    .main-header {
        background-position: center;
    }  
    
    .main {
        &-heading {
            font-size: 1.875rem;
            margin-top: 2.5rem;
            line-height: 3.125rem;
        }
    
        &-title {
            font-size: 1.25rem;
        }
    }  

    .secondary-header {
        margin-top: 6.25rem;
    } 

    .main-header {
        height: 31.25rem; 
        margin-bottom: 2.5rem;
    }

    h3 {
        font-size: 0.9375rem;
        padding: 0.9375rem;
    }

    h2 { 
        font-size: 1.875rem;
        letter-spacing: 0.625rem;
        text-transform: uppercase;
        padding-top: 0;
        margin-top: 3.125rem;
        margin-bottom: 1.25rem;
    }

    .camp-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "camping-section"
            "camping-section-2"
    } 

    .canoe-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "canoeing-section"
            "canoeing-section-2" 
    } 

    .climb-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "climbing-section"
            "climbing-section-2" 
    }

    .fish-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "fishing-section"
            "fishing-section-2" 
    }

    .hike-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hiking-section"
            "hiking-section-2"  
    } 

    .hunt-grid {
        grid-gap: 1.25rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hunting-section"
            "hunting-section-2"
    } 

    
    .climb-grid,
    .hunt-grid {
        height: 56.25rem;
    }

    .camp-grid,
    .canoe-grid,
    .fish-grid,
    .hike-grid {
        height: 62.5rem;
    }

    .activity-location {
        font-size: 0.9375rem;
        margin-bottom: 0;
        border-bottom: 0.0625rem solid $color-sec;
    }

    .activity-location:after {
        border-bottom: 0.0625rem solid $color-sec;
        width: 3.125rem;
    }

    .activity-description,
    .activity-description-2 {
        margin-top: 1.25rem;
        font-size: 0.8125rem;
        height: 5rem;
    }

    .read-more-btn {
        font-size: 0.8125rem;
    }

    .connect-with-us {
        font-size: 0.9375rem !important;
        letter-spacing: 0.3125rem !important;
    }

  
    footer {
        margin-top: 3.125rem;
    }   

    .copyright {
        font-size: 0.5rem !important;
    }

    .icons {
        font-size: 1.125rem !important;
        margin-bottom: 1.875rem;
    }
}



//=============================================================
@media only screen and (max-width: 398px) {
    nav {
        padding-left: 1.875rem;
    }

    
    .main {
        &-heading {
            font-size: 1.75rem;
            margin-top: 1.875rem;
            line-height: 2.1875rem;
        }
    
        &-title {
            font-size: 1.0625rem;
        }
    }  

    .secondary-header {
        margin-top: 3.125rem;
    } 

    h3 {
        font-size: 0.8125rem;
        padding: 0.8125rem;
    }

    h2 { 
        font-size: 1.5625rem;
        letter-spacing: 0.3125rem;
    }
}

//=============================================================
@media only screen and (max-width: 359px) {
    nav {
        padding-left: 2.375rem;
    }

    li {
        margin-right: 0.625rem;
        padding-top: 0.625rem;
    }

    li.dropdown {
        width: 5rem;
        margin-right: 0.625rem;
    }

}

//=============================================================
@media only screen and (max-width: 330px) {

    nav {
        padding-left: 0.625rem;
    }
  
    li {
        margin-right: 0.75rem;
        padding-top: 0.625rem;
    }

    li.dropdown {
        width: 5rem;
        margin-right: 0.9375rem;
    }
    .main {
        &-heading {
            font-size: 1.875rem;
            margin-top: 1.875rem;
            line-height: 2.5rem;
       }
        &-title {
            font-size: 0.9375rem;
        }
    }  

    h3 {
        font-size: 0.75rem;
        padding: 0.75rem;
        
    }

    h2 { 
        font-size: 1.5625rem;
        letter-spacing: 0.4375rem;
        margin-top: 2.5rem;
        margin-bottom: 0.625rem;
    }

    .camp-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "camping-section"
            "camping-section-2"
    } 

    .canoe-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "canoeing-section"
            "canoeing-section-2" 
    } 

    .climb-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "climbing-section"
            "climbing-section-2" 
    }

    .fish-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "fishing-section"
            "fishing-section-2" 
    }

    .hike-grid {
        grid-gap: 0.625rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hiking-section"
            "hiking-section-2"  
    } 

    .hunt-grid {
        grid-gap: 1.25rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hunting-section"
            "hunting-section-2"
    } 

    .read-more-btn {
        font-family: 'Roboto';
        text-align: center;
        padding-top: 3.125rem;
        text-transform: uppercase;
    }
    
    
    .camp-grid,
    .climb-grid,
    .hunt-grid,
    .canoe-grid,
    .fish-grid,
    .hike-grid,
    {
        height: 43.75rem;
    }

    .activity-location {
        font-size: 0.875rem;
        height: 2.1875rem;

    }

    .read-more-btn {
        padding-top: 0;
    }

    .activity-location:after {
        border-bottom: 0.0625rem solid $color-sec;
        width: 3.125rem;
    }

    .activity-description,
    .activity-description-2 {
        margin-top: 0.625rem;
        font-size: 0.6875rem;
        height: 4.375rem;
    }

    .connect-with-us {
        font-size: 0.9375rem !important;
        letter-spacing: 0.3125rem !important;
    }

    .icons {
        font-size: 1.125rem !important;
    }
    
    .copyright {
        font-size: 0.5rem !important;
    }

    footer {
        margin-top: 3.125rem;
    }   
}

//================================================================

@media only screen and (max-width: 500px) {
    .grid-wrapper {
        display: grid;
        grid-gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, 12.5rem);
        margin: 2.5rem 0;
    }


    .item3,
    .item4,
    .item21 {
        grid-column: span 2;
    }

    .item6 {
        grid-row: span 2;
        grid-column: span 2;
    }
}