// Homepage

.main-wrapper {
    width: 100%;
    height: auto;
}

// Styling of the dropdown list
.dropdown-content {
    display: none; 
    position: absolute;
    top: 3rem;
    left: 40rem;
    width: 8.125rem;
    text-align: center;
    padding-right: 1.125rem
}

// Styling of hover on dropdown and styling of dropdown content
.dropdown:hover .dropdown-content {
    display: block;
    background-color: beige;
    opacity: 0.9;
}

// Styling of a tags in dropdown list
.dropdown-content a {
    text-decoration: none; 
    display: block;
}

// Activity grid 
.camp-grid,
.canoe-grid,
.climb-grid,
.fish-grid,
.hike-grid,
.hunt-grid {
    margin: 1.25rem 6.25rem;
    background-color: beige;
    padding: 1.875rem 1.25rem;
    border-radius: 0.1875rem;  
}

// Styling of the 1st picture
.activity-pic {
    width: 100%;
    height: auto;
}

// Styling of the 2nd picture
.activity-pic2 {
    width: 100%;
    height: auto;
}

// Styling of the places name
.activity-location {
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 1.0625rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
}

// Styling of the description of the 1st activity
.activity-description {
    padding-left: 3.125rem;
    margin-right: 1.25rem;
    font-family: 'Roboto';
    letter-spacing: 0.0625rem;
}

// Styling of the description of the 2nd activity
.activity-description-2 {
    padding-left: 1.875rem;
    margin-right: 2.8125rem;
    font-family: 'Roboto';
    letter-spacing: 0.0625rem;
}


// Styling of the link to visit the location's webpage
.read-more-btn {
    font-family: 'Roboto';
    text-align: center;
    margin-top: 1.875rem;
    text-transform: uppercase;
}

// Styling of main picture below nav
.main-header {
    background-image: url(../images/adventure-alone-backlit-746386.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41.125rem; 
    text-align: center;
    margin: -3.75rem 0 6.25rem 0;
    padding-bottom: 2.5rem;
}  


// Styling of the words on main-header
.main {

    &-heading {
        text-align: center;
        font-size: 5.625rem;
        text-transform: uppercase;
        font-family: 'Fjalla One';        ;
        font-weight: normal;
        line-height: 1.3;
        margin: 0.75rem 0 0;
        color: beige;
        opacity: 0.8;
        text-shadow: 0.125rem 0.125rem black;
        letter-spacing: 0.5rem;
    }

    &-title {
        font-family: 'Fjalla One';  
        text-transform: uppercase;
        color: beige;
        text-shadow: 0.125rem 0.125rem black;
        font-weight: bold;
        font-size: 1.875rem;
        letter-spacing: 0.125rem;
        border-bottom: 0.125rem solid;
        padding-bottom: 0.625rem;
    }
}    

// Top magin of the section containing main-heading and title
.secondary-header {
    margin-top: 12.5rem;
}

// Footer icons

// Styling of Connect With Us seciton
.connect-with-us {
    border-bottom: 0.0625rem solid;
    padding-bottom: 0.75rem;
    margin-bottom: 1.875rem;
    font-size: 1.25rem !important;
    letter-spacing: 0.3125rem !important;
}

// Sizing of icons
.icons {
    font-size: 1.875rem !important;
}


// Sizing and font-weight of copyright 
.copyright {
    font-size: 0.625rem !important;
    font-weight: normal;
}
  
//=============================================================================================
// Gallery


//=============================================================================================
// Contact Form

// Nav on contact and gallery page
nav.secondary-nav {
    padding-top: 0;
    padding-bottom: 1.25rem;
    background-color: rgb(243, 243, 223);
    opacity: 0.5;
}

// The contact form is wrapped inside the container class
.container {
    background-image: url(../images/adventure-beautiful-cliff-1659434.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    width: 100%;
    height: 100%;
}


// H1 
#contact {
    margin-top: 0;
    margin-bottom: 1.25rem;
    padding-top: 3.125rem;
    text-transform: uppercase;
    font-family: 'Fjalla One';        ;
    color: rgb(39, 37, 37);
    letter-spacing: 0.3125rem;
}

// Submit button
.submit {
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
    letter-spacing: 2px;
    width: 7.5rem;
    height: 2.5rem;
    border: none;
    margin: 1.25rem 0 1.875rem 0;
    font-size: 0.9375rem;
    font-weight: bold;
    outline: none;

}


// Button enlarges sideways when you hover
.submit:hover {
    opacity: 0,9;
    background-color: black;
    color: beige;
    transition: all .10s ease-in-out;
}


// Font and color of placeholders inside inputs and textarea
input::placeholder,
textarea::placeholder {
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


// Footer for contact and gallery pages
.secondary-footer {
    margin-top: 0;
}