// Descriptive color variables

$beige : #f5f5dc;
$black : #000;
$white : #fff;
$black2: #1d1a1a;
$color-text-heading: #272525;

// Functional color variables

$color-prim : $beige;
$color-sec : $black;

$color-text-dark : $black2;
$color-text-light: $white;

$color-text-base : $color-text-heading;

$color-shadow : rgba($black, .1);
$color-body: rgba($black, .5);